header {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #004d9c;
    text-align: center;
    top: 0;
}

h1 {
    /*Font*/
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
    font-size: 35px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    height: 100%;
    font-size: 25px;
}

img.logo {
    height: 80px;
    background-color: transparent;
    float: left;
}

div.content {
    margin: 10%;
    margin-bottom: 0%;
    padding: 2%;
    text-align: center;
    border: 2px solid #004d9c;
    background-color: #72b3ff;
}

p.loginTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

div.loginfield {
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 40px;
    background: #004d9c;
    text-align: center;
    /*Font*/
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
}

table, th, td {
    text-align: center;
    margin: auto;
    background-color: gray;
}

th, td{
    background-color: rgb(198, 228, 255);
    padding: 6px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
  }

button.BigButton{
    padding: 10px;
    margin: 20px;
  }

input.title{
    height: 20px;
    width: 40%;
}

input.BigForm{
    height: 140px;
    width: 40%;
}

a{
    background-color: white;
    color: black;
    padding: 4px;
    margin: 1px;
    border: 1px solid black;
    text-decoration: none;
}

a:hover{
    background-color: rgb(219, 219, 219);
    text-decoration: none;
}